body {font-size: 0; box-sizing: border-box; padding: 0; margin: 0;}
body > * {font-size: 1rem; box-sizing: border-box;}

#page-content {
  margin: auto;
  padding: 0;
  min-width: 300px;
  width: 100%;

  max-width: 1000px;
}

/*Header and Top of the Page*/
header {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

#header-text {
  flex-direction: column;
  padding: 0 0 0 10px;
}

#header-social {
  flex: 0 0 0;
  padding: 10px 10px 0 0;
}

#contribute {
  height: 40px;
}

#title {
  margin: 0;
  font-size: 27px;
  font-family: "Merriweather", serif;
}

#subtitle {
  margin: 5px 0 10px 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

#select-ipsum {
  min-width: 250px;
  width: 100%;
  max-width: 300px;
}

#container {
  width: 100%;
}

/*The rest of the page (Output)*/

#output {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  height: 50vh;
  overflow-y: scroll;
}

@media (max-width: 450px) {
  #subtitle {
    display: none;
  }

  header {
    flex-direction: column;
  }
}

/*DEVELOPMENT ONLY
#container {
  border: 1px solid red;
}

#page-content {
  border: 1px solid green;
}

#header {
  border: 1px solid purple;
}

#output {
  border: 1px solid orange;
}*/