body {font-size: 0; padding: 0; margin: 0; background-color: #005a64; }
body > * {font-size: 1rem;}

body, body > * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#header-area, #body-content > * {
  margin: auto;
  padding: 0;
  min-width: 285px;
  width: 95%;
  max-width: 900px;
}

#created-by {
  font-family: "Open Sans", sans-serif;
  font-size: 0.65rem;
  color: white;
}

footer {
  text-align: center;
}

/*Header and Top of the Page*/
header {
  padding: 5px 0 5px 0;
  background-color: white;
}

#header-area {
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

#header-text {
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-social {
  flex: 0 0 0;
  padding: 10px 0;
}

#contribute {
  height: 30px;
}

#title {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
}

#subtitle {
  margin: 0;
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
}

#body-content select {
  border-color: white;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-radius: 1px;
  color: white;
  background-color: transparent;
  text-align-last: center;
  text-align: center;
  -webkit-appearance: none;
}

#select-ipsum {
  min-width: 250px;
  width: 100%;
  max-width: 400px;
}

#select-paragraphs {
  width: 40px;
}

#container {
  width: 100%;
  min-width: 300px;
}

#body-content {
  padding: 15px 0;
  /*line-height: 3rem;*/
  line-height: 5rem;
  
  color: white;
  text-align: center;
}

#body-content, #body-content select {
  font-size: 1.75rem;
  font-family: "Merriweather", serif;
  font-style: italic;
  background-color: #00a8bb;
}

/*The rest of the page (Output)*/

#output {
  width: 100%;
  height: 50vh;
  border: none;
  resize: none;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  
}

#output-content {
  padding: 0 10px 10px 10px;
  border-radius: 10px;
  min-width: 285px;
  width: 95%;
  max-width: 600px;
  margin: auto;
  background-color: white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#output-content button {
  margin: 0 auto;
}

#output-container, #footer-container {
  margin: auto;
  padding: 10px 0;
  width: 100%;
  background-color: #005a64;
}

#output-organizer {
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
}

#output-organizer > * {
}

#output-header {
  padding: 15px 0;
}

#output-title {
  
}

#output-title > * {
  font-style: italic;
}

#output-copy {
  
}

#output-buttons button {
  background-color: #DBDBDB;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  padding: 0 10px;
}


#output-buttons button:hover {
  background-color: grey;
}

#output-buttons button:active {
  background-color: black;
}

@media (max-width: 450px) {
  #title {

  }

  #subtitle {
    display: none;
  }

  #output-organizer {
    flex-direction: column;
    -webkit-align-items: left;
            align-items: left;
  }

  #output-title {
    margin-bottom: 10px;
  }

  #output-buttons {
    /*margin: auto;*/
  }

  #select-ipsum {
    width: 100px;
  }

  #copy-ipsum {

  }

  #copy-ipsum:active {

  }

  #body-content, #body-content select {
    font-size: 1.2rem;
    font-family: "Merriweather", serif;
    font-style: italic;
    background-color: #00a8bb;
  }
}